body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

i {
  cursor: pointer;
}

.container-lg {
  /* background-color: #9989e2; */
  width: 100%;
  height: 100vh;
}

.container {
  height: max-content;
  margin-top: 60px;
}

.form-con {
  width: 200%;
}

.login-container {
  display: flex;
  justify-content: center;
  background-size: cover;
  width: 500px;
  height: 500px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  background-image: url("../src/img/loginbg.jpg");
  background-repeat: no-repeat;
}

/* project */
.projecth1 {
  margin-top: -33px;
  text-align: center;
}

.pname:hover {
  color: #a50374;
  text-decoration: wavy;
}

.pimage {
  display: flex;
  justify-content: center;
  background-size: cover;
  width: 500px;
  height: 500px;
  border-top-right-radius: 127px;
  border-bottom-right-radius: 127px;
  background-image: url("../src/img/pbg.jpg");
  background-repeat: no-repeat;
}

.pfolder {
  color: #004085;
  font-size: 2rem;
}

/* operations */
.operations {
  display: none;
  position: absolute;
  margin: auto;
  top: 20%;
  left: 36%;
}

.close {
  position: absolute;
  top: 0%;
  right: 0%;
}
